body{
    background: url(backgrounds/rabbit2.jpg) no-repeat center center fixed;
	background-size: 100% cover;
	background-attachment: fixed;
	height:100%;
	
}
#JoJo{
	margin-top:570px;
	margin-left:55px;
}
#Dashka{
	color:#00FA9A;
}

a{
	text-decoration: none;
	font-family: 'Abril Fatface', cursive;	
}
